<header id="header" class="bg-menu1">
    <div class="navbar flex-items">
        <h1 class="brand">
            <a href="/">

                <span>Varıcı Danışmanlık</span>
                </i>
            </a>
        </h1>
        <nav class="w-75">
            <ul id="top-menu" class="flex-items mr-2">
                <li class="flex-item menu-item"><a asp-area="" asp-controller="Home" asp-action="Index"
                        asp-route-id="">Ana Sayfa</a></li>
                <li class="flex-item menu-item"><a asp-area="" asp-controller="Home" asp-action="About"
                        asp-route-id="">Hakkında</a></li>

                <li class="flex-item menu-item"><a asp-area="" asp-controller="Home" asp-action="Services"
                        asp-route-id="">Hizmetlerimiz</a></li>
                <li class="flex-item menu-item"><a asp-area="" asp-controller="Iletisim" asp-action="Contact"
                        asp-route-id="">İletişim</a></li>
            </ul>
        </nav>
    </div>
</header>