@{
ViewData["Title"] = "Home Page";
}
<div class="col">
    <div class="card">
        <img src='/image/Eğitim.jpg' class=card-img-top-my" alt="...">
        <div class="card-body">
            <h5 class="card-title">Yönetim Danışmanlığı</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                of the Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur aspernatur perferendis nemo.
                Illum accusamus excepturi saepe facilis quis reprehenderit eum dolorum possimus error architecto
                delectus quos corrupti unde sequi consequatur, esse ipsam dolore reiciendis veniam, aut fugit officiis
                voluptatibus culpa. Voluptate porro debitis ab enim ipsum quia earum, laboriosam ea cupiditate quis
                consequatur tempore, incidunt officia quod nisi inventore, repellat illum. Quis deserunt accusamus
                minima aut, ratione nemo esse eum tempora quos quisquam necessitatibus provident, beatae excepturi rerum
                quaerat omnis quod asperiores dolore iusto sed voluptate eveniet illum? Harum adipisci et ullam commodi
                officiis obcaecati dicta voluptatum, odit id laborum, non incidunt libero maxime ab, veniam rerum saepe?
                Modi reiciendis doloremque, adipisci dolores vel eaque minima quod veritatis nulla mollitia? Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Ad nostrum voluptate doloribus magnam quae harum. Nesciunt
                vel iste repellat alias dolorem adipisci. Facere, distinctio mollitia! Aperiam eaque vel necessitatibus
                quasi, deserunt similique temporibus earum optio maxime repellendus sequi rerum, asperiores ex ad qui
                placeat sapiente atque aliquid animi non unde eos quos, at consequatur. Quam nihil maiores fuga enim
                illo, aut consequatur? Assumenda eaque ea fuga cum. Dolore ducimus rem, aliquam illum deleniti
                exercitationem similique optio sunt itaque neque eaque. A nemo praesentium, voluptate ducimus similique
                asperiores rem laborum, optio unde voluptates distinctio inventore iusto accusamus aperiam? Labore nobis
                officia asperiores reprehenderit unde impedit laborum, excepturi recusandae rerum saepe, dicta sunt
                necessitatibus vero, non mollitia. Assumenda, facere voluptatibus quibusdam, hic repudiandae perferendis
                deleniti, fuga obcaecati rerum veritatis nemo excepturi tenetur eum voluptatem ipsum tempora illo ipsa
                quam deserunt explicabo? Totam quis quasi voluptatum repudiandae qui sint iure ipsa quas ratione? </p>
        </div>
    </div>
</div>