@{
ViewData["Title"] = "Home Page";
}
<div class="col">
    <div class="card">
<img src='/image/Yönetim.jpg' class=  card-img-top-my" alt="...">
<div class="card-body">
    <h5 class="card-title">Yönetim Danışmanlığı</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk
        of the Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur aspernatur perferendis nemo. Illum accusamus excepturi saepe facilis quis reprehenderit eum dolorum possimus error architecto delectus quos corrupti unde sequi consequatur, esse ipsam dolore reiciendis veniam, aut fugit officiis voluptatibus culpa. Voluptate porro debitis ab enim ipsum quia earum, laboriosam ea cupiditate quis consequatur tempore, incidunt officia quod nisi inventore, repellat illum. Quis deserunt accusamus minima aut, ratione nemo esse eum tempora quos quisquam necessitatibus provident, beatae excepturi rerum quaerat omnis quod asperiores dolore iusto sed voluptate eveniet illum? Harum adipisci et ullam commodi officiis obcaecati dicta voluptatum, odit id laborum, non incidunt libero maxime ab, veniam rerum saepe? Modi reiciendis doloremque, adipisci dolores vel eaque minima quod veritatis nulla mollitia? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus incidunt, laudantium minima tempore excepturi libero reprehenderit dolor eius cumque velit, iure facilis dolorum in veniam nemo provident id consectetur assumenda! Et tempore similique soluta quae quod neque, fuga officia asperiores recusandae. Minus mollitia, voluptatum eius iure suscipit temporibus officiis fuga nulla, aspernatur dignissimos repellendus modi maiores illum accusamus inventore debitis ab magnam itaque eos repellat hic incidunt libero explicabo vel. Nisi illum est ipsum suscipit, accusantium itaque quod! Doloremque cupiditate dolores deleniti molestias, libero sequi minus iure illum recusandae quia veritatis odio possimus nihil consectetur corporis ut vero assumenda porro repudiandae blanditiis maxime alias. Excepturi suscipit quos veniam perferendis nulla similique dolorum fugit, quo ipsam quisquam quod minus tempora quam assumenda doloremque quis iusto debitis libero. Necessitatibus quaerat provident in eius obcaecati tempora maiores ea, saepe quo at explicabo perspiciatis dolore ab, corporis minima deserunt minus molestiae quas voluptas totam. </p>
    </div>
</div>
</div>