@model string
@{
ViewData["Title"] = "Home Page";
}
@Model
<div class="content-about flex-items">
    <div class="content-inside">
        <h1 class="m-5 title-color">Hakkımızda</h1>
        <p class="p-5 flex-items ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste harum quibusdam tenetur odio quae esse ex quo
            quasi dignissimos qui asperiores ratione laborum numquam quisquam doloribus, accusamus alias sapiente!
            Officiis unde vero deserunt dolore laboriosam ipsam ducimus eveniet, nam eaque odit, commodi tempore
            assumenda autem nemo voluptate quasi dolor id quas quam. Molestias accusamus, corrupti magni omnis ad
            veritatis ducimus aliquam ut recusandae vel id accusantium maxime officia nam similique eaque adipisci
            assumenda voluptatibus. Sapiente nemo nobis suscipit voluptatibus vitae impedit eius officia ipsa, numquam
            ullam distinctio illum consequuntur natus enim eveniet corporis delectus sit fugiat porro inventore quas,
            provident minus. Iure itaque perspiciatis quisquam, iusto, officiis placeat facere harum est explicabo aut
            modi cupiditate sit quaerat sunt totam voluptates doloremque, cumque unde culpa quasi rem exercitationem
            voluptatum! Veniam, ipsa cum, consequuntur repellat magni dolorum aliquam minima at nisi voluptatum, tenetur
            reprehenderit necessitatibus? Optio, porro eum culpa amet aspernatur, consequatur minus error eligendi
            temporibus quibusdam nesciunt nam voluptatum corporis eveniet! Nostrum quam itaque at porro id, aut quia
            nisi deleniti doloremque hic. Excepturi odio ipsam rerum delectus consequatur itaque? Praesentium, officiis
            quasi. Provident officia enim ut dolorum, nihil deserunt perspiciatis iste accusamus dolore molestiae
            dolorem voluptatum possimus excepturi libero error nam ipsum! Illo iusto iure eos, sunt illum minima impedit
            rem asperiores nobis voluptatibus, laudantium maiores eveniet sint dolorum quia, labore necessitatibus sed
            cupiditate? Perferendis asperiores consequatur ipsa et repellendus quam saepe, omnis possimus voluptatum id
            qui ab sit recusandae doloribus voluptas fugiat dolorem quaerat ipsum nulla deleniti expedita error.
        </p>

    </div>
</div>