
@{
ViewData["Title"] = "Home Page";
}

<div class="content flex-items">
    <div class="content-inside">
        <h1 class="m-5 title-color">Danışmanlık Hizmetlerimiz</h1>
        <p class="p-5 flex-items">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum fugiat
            tempora facilis voluptate doloribus optio quo alias expedita
            dignissimos saepe soluta molestias illum, natus aperiam!
        </p>

        <a   asp-area="" asp-controller="Home" asp-action="Services" class="btn btn-primary m-2">
            <i class="fa-solid fa-chevron-right m-2" ></i>İncele</a>
    </div>
</div>